.oobe-panel.centered-items {
    display: flex;
    align-items: center;
}
.win-button.admin-button {
    width: 400px;
    max-width: 400px;
    min-height: 50px;
    vertical-align: middle;
    line-height: 50px;
    padding-top:0;
    padding-right:0;
}
html[dir="ltr"] .win-button.admin-button {
    text-align: left;
}
html[dir="rtl"] .win-button.admin-button {
    text-align: right;
}
.win-button.admin-button.select {
    border: 2px solid;
    color: ButtonText;
    background-color: ButtonFace;
}
.win-button.admin-button.unselect {
    border: none;
}
.admin-radiobutton {
    position: absolute;
    opacity: 0.01;
    width: 400px;
    height: 50px;
}
@media(-ms-high-contrast) {
    .win-button.admin-button.select {
        color: HighlightText;
        background-color: Highlight;
    }
}
.content-description.label-text {
    width: 100%;
}
html[dir="ltr"] .content-description .label-text {
    text-align: left;
}
html[dir="rtl"] .content-description .label-text {
    text-align: right;
}
.account-info {
    opacity: 0.6;
}
.win-button.alt-button:hover {
    border-color: transparent;
}
