<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <!-- You can add your custom listeners here
        <add name="fileTrace"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="ClusterUpdateUi.log"/>
         -->
      </listeners>
    </trace>
    <switches>
      <!-- This switch controls general messages. Change value below
           to one of these levels:
           "0" Off (no tracing)
           "1" Error (only error messages)
           "2" Warning (error message and warnings)
           "3" Information (errors, warnings, information)
           "4" Verbose (all messages)
      -->
      <add value="3" name="ApplicationTrace"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="UseDefaultTraceListener" value="true"/>
    <add key="DefaultTraceListenerPath" value="%TEMP%\ClusterUpdateUi.log"/>
  </appSettings>
</configuration>
