<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Interop.Security.AzRoles" publicKeyToken="31bf3856ad364e35" Culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-1.9.9.9" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>

