.hidden {
    display: none !important;
}

.registry-list {
    list-style: none;
    margin-left: -11px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 1px dashed black;
    vertical-align: middle;
}

.registry-expanded,
.registry-collapsed,
.registry-empty {
    padding-left: 1em;
    text-indent: -1em;
}

/*
.registry-empty {
    border-left: 1px dashed black;
}
*/

#registry button {
    min-width: 0;
    vertical-align: -10%;
    padding: 0px 5px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: auto;
}

.registry-selected {
    background-color: lightblue;
}

#registry button:hover {
    background: transparent;
}
