.hidden {
    display: none !important;
}

#windowsGrid .slick-header-column:first-child .slick-resizable-handle {
    visibility: visible;
}

#windowsGrid .active {
    color: #fff;
    background-color: #555;
}

#windowParent {
    color: #006cd8;
}

#windowParent:hover {
    cursor: pointer;
    text-decoration: underline;
}

#windowDetailsScreenshot {
    height: 360px;
    width: 640px;
    overflow: hidden;
    position: relative;
}

#windowDetailsImage {
    width: 640px;
    max-height: 360px;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: scale-down;
}

#windowDetailsImage:before,
#windowDetailsImage:after { 
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
