<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="windowsTokenService" type="Microsoft.IdentityModel.WindowsTokenService.Configuration.WindowsTokenServiceSection, Microsoft.IdentityModel.WindowsTokenService, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <windowsTokenService>
    <!--
        By default no callers are allowed to use the Windows Identity Foundation Claims To NT Token Service.
        Add the identities you wish to allow below.
      -->
    <allowedCallers>
      <clear/>
      <!-- <add value="NT AUTHORITY\Network Service" /> --> 
      <!-- <add value="NT AUTHORITY\Local Service" /> -->
      <!-- <add value="NT AUTHORITY\System" /> -->
      <!-- <add value="NT AUTHORITY\Authenticated Users" /> -->
    </allowedCallers>
  </windowsTokenService>
</configuration>

