<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventLogs"
             type="Microsoft.WindowsServerSolutions.LogCollector.EventLogsSection, LogCollector"
             allowLocation="true"
             allowDefinition="Everywhere"/>
    <section name="fileLocations"
             type="Microsoft.WindowsServerSolutions.LogCollector.FileLocationSection, LogCollector"
             allowLocation="true"
             allowDefinition="Everywhere"/>
    <section name="registryKeys"
             type="Microsoft.WindowsServerSolutions.LogCollector.RegistryKeysSection, LogCollector"
             allowLocation="true"
             allowDefinition="Everywhere"/>
    <section name="services"
             type="Microsoft.WindowsServerSolutions.LogCollector.ServiceSection, LogCollector"
             allowLocation="true"
             allowDefinition="Everywhere"/>
    <section name="applications"
             type="Microsoft.WindowsServerSolutions.LogCollector.ApplicationsSection, LogCollector"
             allowLocation="true"
             allowDefinition="Everywhere"/>
  </configSections>

  <eventLogs>
    <eventLog name="Microsoft-Windows-WMS%4Application"/>
    <eventLog name="Microsoft-Windows-WMS-Hidcc%4Operational"/>
    <eventLog name="Microsoft-Windows-WMS-HidControl%4Operational"/>
    <eventLog name="Microsoft-Windows-WMS-KbFilter%4Operational"/>
    <eventLog name="Microsoft-Windows-WMS-MouFilter%4Operational"/>
    <eventLog name="Microsoft-Windows-WMS-Vcf%4Operational"/>
    <eventLog name="Microsoft-Windows-WMS%4Trace"/>
    <eventLog name="Microsoft-Windows-WMS%4ConfigurationTasks"/>
    <eventLog name="Microsoft-Windows-TerminalServices-Licensing%4Admin"/>
    <eventLog name="Microsoft-Windows-TerminalServices-Licensing%4Operational"/>
  </eventLogs>

  <fileLocations>
    <fileLocation path="Windows Multipoint Server 2010" description="Windows MultiPoint Server 2010"/>
    <fileLocation path="Windows MultiPoint Server" description="Windows MultiPoint Server 2011"/>
  </fileLocations>

  <registryKeys>
    <registryKey path="SOFTWARE\Microsoft\Windows Multipoint Server 2010" description="Windows MultiPoint Server 2010"/>
    <registryKey path="SOFTWARE\Microsoft\Windows MultiPoint Server" description="Windows MultiPoint Server 2011 or higher"/>
    <registryKey path="SYSTEM\CurrentControlSet\Control\Terminal Server" description="Terminal Server"/>
    <registryKey path="SYSTEM\CurrentControlSet\Services\WMS\Parameters" description="WMS Service"/>
    <registryKey path="SYSTEM\CurrentControlSet\Services\WmsRepair\Parameters" description="WMS Repair Service"/>
  </registryKeys>

  <services>
    <service name="WMS" description="WMS Service"/>
  </services>

  <applications>
    <application name="Microsoft Silverlight" exactMatch="true"/>
    <application name="Microsoft Windows Media Player" exactMatch="true"/>
    <application name="Adobe Flash Player" exactMatch="false"/>
  </applications>
  
  <appSettings>
    <add key="DefaultLogFile" value="LogCollector.log"/>
    <add key="DefaultZipFile" value="WmsLogs_{0}.zip"/>
    <add key="ProductName" value="Windows MultiPoint Server"/>
    <add key="WindowsServerLogsLocation" value="Microsoft\Windows MultiPoint Server\Logs"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>