<configuration>
  <appSettings>
    <!-- Enable the DFS trace listener -->
    <add key="DfsTraceListenerEnabled" value="0" /> 
    <!-- Trace log file location -->
    <add key="TraceLogLocation" value="%windir%\Debug\DfsMgmt" />
    <!-- Max trace log file size in KB. The default is 10MB (10240KB)
         This value cannot exceed 256MB (262144KB) -->
    <add key="MaxTraceLogSize" value="10240" />
  </appSettings>

  <system.diagnostics>
        <switches>
          <!-- DFS tracing switches can accept the following values:
          0       - No tracing is enabled
          17024   - Trace Errors
          1024    - Trace Warnings
          18048   - Trace Errors and Warnings 
          117     - Trace execution flow
          2071    - Trace data flow
          65535   - Trace all
          -->
            <!-- DFS Object Model tracing switch -->
            <add name="DfsFrsTracing" value="0" />
            <!-- DFS UI tracing switch -->
            <add name="DfsFrsSnapIn" value="0" />
        </switches>
        <trace autoflush="true">
            <listeners>
              <add name="DfsListener" type="Microsoft.RemoteFileSystems.Management.DfsTraceListener" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
