<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wssg.logging" type="Microsoft.WindowsServerSolutions.Diagnostics.Logging.Configuration.LoggingConfigurationSection, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <!-- Define the wssg logging section. The defaultCategory attribute specifies the default category name -->
  <wssg.logging name="Default" enabled="true" defaultCategory="General">
    <!-- Define wssg logging trace listeners that are used by different logging categories. 
    The name attribute in each trace listener element must be unique.  -->
    <listeners>
      <!-- Add the Default TraceListener that logs to a text file. The Rotating File Log TraceListener 
      rotates log among log text files.The filename attribute specifies the log file name and filePathType 
      attribute specify the location. -->
      <add
        name="DefaultTraceListener"
        type="Microsoft.WindowsServerSolutions.Diagnostics.Logging.TraceListeners.RotatingLogTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        directory="%ProgramData%\Microsoft\Windows MultiPoint Server\Logs\"
        fileName="{application}.log"
        header="---------------------------------------------------------"/>
    </listeners>
    <!-- Define the different log categories/sources that are used. 
    The name attribute in each source/category element must be unique.-->
    <sources>
      <!--Add the Default Category. This category is used when no category name is specified for the log -->
      <add level="Information" name="General">
        <!--Lists the Trace Listeners defined above. 
        Each trace listener listed will add the log data belonging to General category to the specified log store-->
        <listeners>
          <add name="DefaultTraceListener" />
        </listeners>
      </add>
      <!-- Add more Categories used by components/features whose settings need to be customized if needed -->
    </sources>
    <!-- Define the pre-defined  log category/source. 
    This category is used when for any log category that is not defined in log categories/sources collection above.-->
    <predefinedsources>
      <unmatched level="Information" name="Unmatched">
        <listeners>
          <add name="DefaultTraceListener" />
        </listeners>
      </unmatched>
    </predefinedsources>
  </wssg.logging>
</configuration>
