<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
  <trace autoflush="true" />
  <sharedListeners>
    <!-- Uncomment xmlLog stuff to get XML logs that you can use with the Service Trace Viewer tool.
    <add name="xmlLog"
         type="Microsoft.WindowsServerSolutions.Common.WssgXmlWriterTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    -->
  </sharedListeners>
  <sources>
    <source name="Microsoft.Wssg.ProviderFramework" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="pfLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="ProviderFramework" />
        <!--
        <add name="pfConsole"
             type="Microsoft.WindowsServerSolutions.Common.WssgConsoleTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="ProviderFramework" />
        -->
        <!-- <add name="xmlLog" /> -->
      </listeners>
    </source>
    <source name="Microsoft.Wssg.ProviderRegistryService" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="pfLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="PRS" />
        <!--
        <add name="prsConsole"
             type="Microsoft.WindowsServerSolutions.Common.WssgConsoleTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="PRS" />
        -->
        <!-- <add name="xmlLog" /> -->
      </listeners>
    </source>
    <source name="Microsoft.Wssg.ProviderFramework.Binding" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="pfBindingLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="PfBinding" />
        <!--
        <add name="pfBindingConsole"
             type="Microsoft.WindowsServerSolutions.Common.WssgConsoleTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="PfBinding" />
        -->
        <!-- <add name="xmlLog" /> -->
      </listeners>
    </source>
    <source name="Microsoft.Wssg.SharedServiceHost" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="hostLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="SharedServiceHost" />
        <!--
        <add name="hostConsole"
             type="Microsoft.WindowsServerSolutions.Common.WssgConsoleTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="SharedServiceHost" />
        -->
        <!-- <add name="xmlLog" /> -->
      </listeners>
    </source>
    <source name="Microsoft.Wssg.Notifications" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="nLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="Notifications" />
        <!--
        <add name="nConsole"
             type="Microsoft.WindowsServerSolutions.Common.WssgConsoleTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="Notifications" />
        -->
        <!-- <add name="xmlLog" /> -->
      </listeners>
    </source>
    <source name="Microsoft.Wssg.TaskScheduler" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="tasksLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="TaskScheduler" />
      </listeners>
    </source>
    <source name="Microsoft.Wssg.WmsWssgCommon" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="wssgCommonLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="WmsWssgCommon" />
        <!--
        <add name="wssgConsole"
             type="Microsoft.WindowsServerSolutions.Common.WssgConsoleTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="WmsWssgCommon" />
        -->
      </listeners>
    </source>
    <source name="Microsoft.Wssg.Services" switchValue="Information" >
      <listeners>
        <remove name="Default" />
        <add name="wssgCommonLogBridge"
             type="Microsoft.WindowsServerSolutions.Common.WssgLoggingTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="Services" />
        <!--
        <add name="svcConsole"
             type="Microsoft.WindowsServerSolutions.Common.WssgConsoleTraceListener, WmsWssgCommon, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             initializeData="Services" />
        -->
      </listeners>
    </source>
    <!--
    <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
      <listeners>
        <add name="xmlLog" />
      </listeners>
    </source>
    -->
  </sources>
</system.diagnostics>
