
label.error {
    float: none;
    color: red;
    vertical-align: top;
}

#TermsLinkContainer a:link {
    text-decoration: underline;
}

#TermsLinkContainer a:focus {
    border: 1px solid black;
}