<!-- These config files are used to redirect an application from using one version of a side-by-side assembly to another version of the same assembly. -->
<!-- Any snapin loading Microsoft.Powershell.Commands.Management with version = "1.0.0.0" will be redirected to load Microsoft.Powershell.Commands.Management with version = "3.0.0.0" -->
<!-- The public key token is required for all shared side-by-side assemblies.-->

<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.PowerShell.Commands.Management"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="1.0.0.0"
                             newVersion="3.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
