.BPT-Events-EventName {
    color: TRANSPARENT;                  /* [{plugin-font-editor-html-attribute-name-color}] */
    -ms-grid-column: 2;
}

.BPT-Events-Function-Name {
    float: left;
    margin-left: 26px;
    word-break: break-all;
}

    .BPT-Events-Function-Name:before {
        content:"";
    }

    .BPT-Events-Function-Name:after {
        content:"";
    }

.BPT-Events-Location {
    float: right;
    margin-left: 10px;
    margin-right: 4px;
}

.Ancestor-Events-Template-Header {
    background-color: TRANSPARENT; /*[{plugin-font-editor-background-color}]*/

}

.Ancestor-Events-Template-EventName {
    font-family: "Segoe UI", Arial, sans-serif; /*[{plugin-font-family} , Arial, sans-serif]*/
    font-weight: normal;
    color: TRANSPARENT; /*[{plugin-font-editor-css-selector-color}]*/
}

.Event-List-Div {
     display: inline-block;
     text-overflow: ellipsis;
}

.Event-Name-Padding {
     padding-left: 4px;
}

#Event-Ancestor-Collapse {
    margin-top: 1px;
}