<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CmdletTimeoutInSeconds" value="180"/>
    <add key="PollingPeriodInSeconds" value="10"/>
    <add key="CatchGeneralException" value="false"/>
    <add key="DefaultTimeoutForPowershellConnection" value="10000"/>
    <add key="DefaultMaxProjectViewers" value="64"/>
  </appSettings>
</configuration>