#deviceTree button {
    min-width: 0;
}

#deviceTree button:hover {
    background: transparent;
}

.usbDeviceDescription {
    background: lightgrey;
    border: solid 1px black;
    margin-left: 40px;
    padding-left: 10px;
    width: 700px;
}
