.LabeledInput + table {
    margin-left:20px;
    width:100%;
    max-width:350px;
    
}

form > label {
    display: inline-block;
}

.LabeledInput > input {
    display: inline-block;
    width:auto;
}

.wdp-overlay
{
    top:20%;
}

#networkAdaptersInformation .indentSection label {
    width: 155px;
    margin: 0px;
}

#networkAdaptersInformation .indentSection p {
    display: inline;
    margin: 0px;
}