<configuration>

    <configSections>
        <section name="configurationRedirection" />
    </configSections>

    <configProtectedData>
        <providers>
            <add name="IISCngProvider" type="Microsoft.ApplicationHost.CngProtectedConfigurationProvider" description="Uses Win32 Crypto CNG to encrypt and decrypt" keyContainerName="iisCngConfigurationKey" useMachineContainer="true" />
        </providers>
    </configProtectedData>

    <configurationRedirection />

</configuration>