<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/common.css" />
    <!--WinJS references-->
    <script src="/Microsoft.WinJS-reduced/js/base.js"></script>

    <!-- requirejs references -->
    <script src="/core/js/require-helpers.js"></script>
    <script src="/core/js/requirePath-config-core.js"></script>
    <script data-main="/webapps/inclusiveOobe/js/networkDropoffHandler-page.js" src="/lib/require.js"></script>
</head>
<body class="webapp-inner">
    <div class="body-container">
        <div class="container-content no-scroll">
            <oobe-header params="title: title, subtitle: subHeaderText"></oobe-header>
            <div class="icon-container">
                <img id="network-dropoff-handler-image" src="/webapps/inclusiveOobe/media/network-dropoff-handler.svg" data-bind="attr:{'aria-label': imageName}"/>
            </div>
        </div>
        <oobe-footer params="flexStartHyperLinks: $root.flexStartHyperLinks, flexEndButtons: $root.flexEndButtons"></oobe-footer>
    </div>
</body>
</html>
s