body
{
 font-family :Verdana;
 font-size:small;
}
table
{
 border-style:solid;
 border-color :Black;
 border-width :thin;
 
}
td
{
 border-bottom-style:solid;
 border-bottom-color :Gray;
 border-bottom-width :thin;
 border-right : solid gray thin;	
}

thead
{
	background-color:Yellow;
}
