/* .info-box describes the boundary for each "button"/div in at initial sidebar. */
.info-box {
    width: 100%;
}

/* .info-table describes the container for each component table. */
.info-table {
    color: #000;
    background-color: #fff;
}

/* .main-info describes the style for each "button"/div in at initial sidebar. */
.main-info {
    background: rgb(38, 80, 197);
    padding: .75rem .5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.main-info:hover {
    transition: 0.3s;
}

/* .selected is applied when clicked on, fix the style in place to indicate clicked on. */
.selected, .main-info:hover {
    /* !important overwrites any background-color set dynamically (i.e Adapter colors). */
    background-color: rgb(20, 42, 104) !important;
    cursor: pointer;
}

.main-info a:hover {
    /* <a> tags by default is underlined when hovered over, undo it. */
    text-decoration: none;
}

.main-info a {
    color: #ffff
}

/* collapsible-content will be used for hiding/showing collapsible contents, placed as a sibling to collapsible-header in DOM. */
.collapsible-content {
    display: none;
}

/* info-separator describes the separator between each group of info-box */
.info-separator {
    width: 100%;
    text-align: left;
    vertical-align: middle;

    /* code to draw dashed line inline with separator text */
    border-bottom: 2px dashed #4c71b5; 
    line-height: 0.1em;
    margin: 10px 0 10px;
    margin-right: 10px;
}

/* info-separator text style*/
.info-separator span {
    padding:0 11px;
    font-size: small;
    color: #4c71b5;
    background-color: aliceblue;
}

/* Center info-box in the middle of the sidebar*/
.tunnel-title {
    background: #00008b;
    padding: .75rem .5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
}

/* Center info-box in the middle of the sidebar*/
.sidebar-center {
    text-align: center;
}

/* Overwrite commonTable margin-top in common.css, to ensure tables do not extra padding above. */
.commonTable {
    margin-top: 0;
}

/* Style for main containter, containing both the sidebar and the constrainedView of USB4View */
.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Consolas';
}

/* Container style for Konva constrainedViewDivId. */
.usb4-container {
    /* IMPORTANT to have overflow: hidden, so the larger inner konvaDivId does not overflow out of the constrained div. */
    overflow: hidden;
    height: 100%;
}

/* Container style for sidebar. */
.sidebar-container {
    /* Fixed width, size of sidebar will not change regardless of zoom. */
    flex: 0 0 400px;

    overflow-x: hidden;
    overflow-y: scroll;

    min-width: 400px;
    height: 100%;
    background-color: aliceblue;
}

.sidebar-nodevicesfound {
    text-align: center;
    font-size: larger;
}

.konva-container {
    overflow: hidden;

    width: 200vw;
    height: 200vh;
}