<!-- These config files are used to redirect an application from using one version of a side-by-side assembly to another version of the same assembly. -->
<!-- Any application loading Microsoft.UpdateServices.Administration with version = "3.1.6001.1" will be redirected to load Microsoft.UpdateServices.Administration with version = "4.0.0.0" -->
<!-- The public key token is required for all shared side-by-side assemblies.-->

<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.UpdateServices.Administration"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="3.1.6001.1"
                             newVersion="4.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
