<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="false">
        <supportedRuntime version="v4.0" sku="client" />
    </startup>
    <appSettings>
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>
    <runtime>
      <!-- AppContextSwitchOverrides values are in the form of 'key1=true|false;key2=true|false -->
      <!-- Enabling newer accessibility features (e.g. UseLegacyAccessibilityFeatures.2=false) requires all older accessibility features to be enabled (e.g. UseLegacyAccessibilityFeatures=false) -->
      <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false;Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=false;Switch.UseLegacyAccessibilityFeatures.3=false;Switch.System.Windows.Forms.UseLegacyImages=false" />
    </runtime>
</configuration>
