<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <!--WinJS references-->
    <script src="/Microsoft.WinJS-reduced/js/base.js"></script>

    <!-- requirejs references -->
    <script src="/core/js/require-helpers.js"></script>
    <script src="/core/js/requirePath-config-core.js"></script>
</head>
<body role="presentation">
    <div id="animation"></div>

    <script src="/lib/lottie.js"></script>
    <script type="text/javascript" src="/webapps/scoobe/js/scoobeanimation-vm.js"></script>
</body>
</html>

<style>
    #animation {
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
</style>